<main class="page__main">
  <form class="page__main__form js-form">
    <input type="text" class="page__main__form__input js-input" id="movie" name="movie" placeholder="Titulo de serie" size="50" required />
    <button type="button" class="page__main__form__btn js-btn">Buscar</button>
  </form>
  <div class="page__main__container">
    <div>
      <h2>Mis series favoritas</h2>
    </div>

    <ul class="page__main__container__ul js-ul-movie">
      <!-- <li class="page__main__ul__li js-list-movie">1</li>
      -->
    </ul>
  </div>
</main>
