<main class="page__main">
  <form class="page__main__form js-form">
    <input type="text" class="page__main__form__input js-input" id="movie" name="movie" value="girls" placeholder="Titulo de serie" size="50" required />
    <button type="button" class="page__main__form__btn js-btn">Buscar</button>
  </form>
  <section class="page__main__section">
    <article class="page__main__section__article--fav">
      <h3 class="article__title">
        Series favoritas
      </h3>
      <!-- listado favorites -->
      <ul class="article__ul--fav  js-ul-fav"></ul>
    </article>
    <article class="page__main__section__article--serie">
      <h3 class="article__title">
        Resultados búsqueda
      </h3>
      <!-- listado series -->
      <ul class="article__ul--serie js-ul-serie"></ul>
    </article>
  </section>
</main>
