.page__main {
  padding: 20px 0;
  color: rgb(63, 63, 63);
  &__form {
    text-align: center;
    margin-bottom: 40px;
    &__input {
      border: 2px solid rgb(63, 63, 63);
      padding: 10px;
    }
    &__btn {
      border: 2px solid rgb(63, 63, 63);
      background-color: tomato;
      color: white;
      padding: 10px 20px;
      cursor: pointer;
    }
  }
  &__article {
    display: flex;
    padding: 0 20px;
    &__ul--fav {
      height: max-content;
      list-style: none;
      background-color: rgb(211, 211, 211);
      padding: 0 20px;

      .ul__title {
        font-weight: 600;
        padding: 10px 0;
        .fa-star {
          color: rgb(255, 174, 0);
          font-size: 18px;
          padding: 10px;
        }
      }
      .ul__li {
        text-align: center;
        border-top: 2px solid rgb(252, 252, 252);
        padding: 10px 5px;
        &__title {
          font-size: 14px;
          padding: 10px 0;
        }
        &__img {
          width: 125px;
        }
        &__btn-delete {
          border: none;
          cursor: pointer;

          .fa-trash-alt {
            color: rgb(56, 56, 56);
            font-size: 18px;
            padding: 10px;
            &:hover {
              color: white;
              background-color: rgb(56, 56, 56);
            }
          }
        }
      }
    }
    .hidden {
      display: none;
    }
    &__ul--serie {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: flex-start;
      list-style: none;
      text-align: center;

      .ul__li {
        text-align: center;
        padding: 15px;
        &__title {
          text-align: left;
          padding: 10px 0;
        }
        &__btn-star {
          border: none;
          cursor: pointer;
          .fa-star {
            color: rgb(255, 174, 0);
            font-size: 18px;
            padding: 10px;
            &:hover {
              color: white;
              background-color: rgb(255, 174, 0);
            }
          }
        }
      }
    }
  }
}
