.page__main {
  color: rgb(63, 63, 63);
  &__form {
    margin: 0 5%;
    text-align: center;
    padding: 40px 0;
    border-bottom: 1px solid rgb(63, 63, 63);
    margin-bottom: 20px;
    &__input {
      border: 2px solid rgb(63, 63, 63);
      padding: 10px;
      @media all and(max-width:561px) {
        width: 60%;
      }
    }
    &__btn {
      border: 2px solid rgb(63, 63, 63);
      background-color: rgb(104, 104, 104);
      color: white;
      padding: 10px 20px;
      cursor: pointer;
    }
  }
  &__section {
    margin: 0 5%;
    display: flex;
    &__article--fav {
      padding: 0 20px;
      .article__title {
        font-weight: 600;
        text-align: center;
        padding: 20px 0;
        font-size: 1.2rem;
      }
      .article__ul--fav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        background-color: rgb(255, 187, 0);
        text-align: center;
        .ul__li {
          padding: 10px 20px;
          border-bottom: 2px solid white;
          &__title {
            font-size: 14px;
            padding: 10px 0;
          }
          &__img {
            display: block;
            margin: 0 auto;
            width: 125px;
          }
          &__btn-trash {
            background: none;
            border: none;
            padding: 10px;
            cursor: pointer;
            .fa-trash-alt {
              color: white;
              font-size: 18px;
              &:hover {
                color: rgb(63, 63, 63);
              }
            }
          }
        }
      }
    }
    //styles serie
    &__article--serie {
      width: 75%;
      padding: 0 5%;
      text-align: center;

      .article__title {
        font-weight: 600;
        padding: 20px 0;
        font-size: 1.2rem;
      }
      .article__ul--serie {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: max-content;
        list-style: none;
        .ul__li {
          padding: 15px;
          &__title {
            padding: 10px 0;
          }
          &__img {
            display: block;
            margin: 0 auto;
          }
          &__btn-star {
            background: none;
            border: none;
            cursor: pointer;
            .fa-star {
              border: none;
              padding: 10px;
              color: rgb(177, 176, 175);
              font-size: 18px;

              &:hover {
                color: rgb(255, 174, 0);
              }
            }
          }
        }
        //class for add style in js
        .class-fav {
          background-color: rgba(255, 187, 0, 0.514);
          color: white;
        }
      }
    }
  }
}
//clases utilizadas en js
.btn-style {
  border: none;
}
